.event {
  position: absolute;
  width: 95%;
  background-color: cornflowerblue;
  z-index: 1;
  border-radius: 8px;
  padding: 8px;
  transition: 0.5s;
  color: #fff;

  &__title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 8px;
  }

  &:hover {
    background-color: blue;
    cursor: pointer;
    z-index: 2;
  }
}

.delete-event-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  border: none;
  height: 30px;
  color: white;
  width: 42px;
  background-color: red;

  transition: 0.5s;
  border-radius: 10px;
  z-index: 15;

  &:hover {
    background-color: rgb(196, 6, 6);
  }
}
