.event {
  position: absolute;
  width: 80%;
  background-color: cornflowerblue;
  z-index: 1;
  border-radius: 8px;
  padding: 8px;
  color: #fff;

  &__title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 8px;
  }

  &:hover {
    font-weight: bold;
    background-color: blue;
    cursor: pointer;
  }
}

.delete-event-btn {
  position: relative;
  cursor: pointer;
  border: none;
  height: 30px;
  color: white;
  width: 50px;
  background-color: red;
  border-radius: 10px;
  z-index: 15;
}
